<div class="side-bar-header">
  <div class="side-header-title">
    <a href="#">Idea Trade</a>
  </div>
  <div class="create-room">
    <a href="#">チャットを作成する</a>
  </div>
</div>


<div class="rooms">
  <div class="room">
    <ul class="room-name">
      <% if @rooms.exists? %>
      <% @rooms.each do |room| %>
      <li class="list">
        <%= link_to new_room_path(room) do %>
        <%# ↑pathがないのでチャット作ってから編集 %>
        <%= room.name %>
        <% end %>
      </li>
      <% end %>
      <% end %>
    </ul>
  </div>
</div>

<div class="rooms-f">
  <div class="user-name">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>
  </div>
</div>